

/*****************************************************************************************************************************/

.Header{
    text-align: center;

}

.Header a:hover{
    color: white;
    text-decoration: underline 1px red;
}

/*****************************************************************************************************************************/
.Navigation{
    margin-bottom: var(--margin);
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    font-size: 200%;
}

.Navigation .Selected a{
    color:red
}

.Navigation li:nth-child(2){
    border-right: solid 2px #9c9a9a;
}

/*****************************************************************************************************************************/

.Container{
    margin: 20px auto;
    width: 100%;
    text-align: center;
    justify-content: center;
    --margin: 20px;
}

/*****************************************************************************************************************************/

article{
    margin: auto;
    width: 80%;

    text-align: center;
    margin: auto;
    font-size: 150%;

    display: grid;
    grid-template-columns: 100%; 
    grid-template-rows: 400px 100px 100px;
    grid-template-areas: 
    "b"
    "m"
    "l";

    overflow: hidden;
    border-radius: 20px;
    margin-bottom: 40px;
  
}
/*****************************************************************************************************************************************/

.Besedilo{ 
    grid-area: b;
    display: flex;
    justify-content: center;
    align-items: center; 
    background: #9c9a9a;
}

/*****************************************************************************************************************************************/

.Meta{
    grid-area: m;
    display: flex;
    justify-content: center;
    align-items: center; 

    background: blue;
}

.Meta .Sim{
    color:#9c9a9a;
}

.Meta .Avtor{
    color: red;
    font-size: 150%;
}

.Meta .Pesem{
    font-size: 120%;
}

/*****************************************************************************************************************************************/

.Button{
    grid-area: l;
    display: flex;
    justify-content: center;
    align-items: center; 

    background: red;
}

button{
    background: green;
    border-radius: 20px;
    color: white;
    padding: 10px 50px;
    margin-bottom: 5px;
    border: none;
}

a button{
    text-transform: uppercase;
}
