:root {
    --first-color: white;
    --second-color: #D22B2B;
    --third-color: #9c9a9a;
}

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
}

body {
    background-color: black;
    background-image: radial-gradient(red, rgba(255,255,255,.2) 2px, transparent 40px), radial-gradient(red, rgba(255,255,255,.15) 1px, transparent 30px), radial-gradient(red, rgba(255,255,255,.1) 2px, transparent 40px), radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;

    color: white;
    height: auto;
    width: 95vw;
    margin: auto;
}



/*********************************************************************************************************************************/

a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.Navigation, .Rnd-Q, .ttl {
    background: -webkit-linear-gradient(var(--first-color), var(--third-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

    .Navigation a:hover, .ttl a:hover, .Rnd-Q a:hover {
        background: -webkit-linear-gradient(red, red, black);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

/*********************************************************************************************************************************/

.Container{
    margin: 20px auto;
    width: 100%;
    text-align: center;
    justify-content: center;
    font-size: 100%;
    --margin: 20px;
}


/*********************************************************************************************************************************/

.Header {
    margin: var(--margin) 0;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.ttl {
    font-size: 28px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--third-color);
}

/*********************************************************************************************************************************/
/*
    blockquote {
    border: 1px solid var(--third-color);
    border-radius: 10px;
    padding: 10px;
}
*/
blockquote {
    padding-bottom: 20px;

    border-bottom: 1px solid var(--third-color);
}

    blockquote .Besedilo {
        margin-bottom: var(--margin);
        font-size: 100%;
    }

.Quote .indexAvtor{
    font-size: 100%;
}

/*********************************************************************************************************************************/

.Navigation {
    width: 70%;
    margin: 0 auto;
}

.Navigation ul{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    column-gap: 2px;
}

.Navigation li:nth-child(2){
    border-right: solid 1.5px #9c9a9a;
    text-align: center;
}

.Rnd-Q {
    padding: 20px;
    font-size: 20px;
}

/*********************************************************************************************************************************/
.Photo {
    padding-bottom: 10px;
    padding-bottom: -10px;
    border-bottom: #9c9a9a 0.5px solid;
}

img {
    width: 100%;
    margin: 40px 0 var(--margin) 0;
    border-radius: 10px;
    -moz-box-shadow: 0 0 2px rgb(182, 177, 177, 0.7);
    -webkit-box-shadow: 0 0 2px rgb(182, 177, 177, 0.7);
    box-shadow: 0 0 15px rgb(182, 177, 177, 0.7);
}

    img:hover {
        animation: shake 2s infinite;
    }

/*********************************************************************************************************************************/

.Footer{
    width: 70%;
    margin: 0 auto;
    padding-top: 20px;
}

.Footer ul{
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    column-gap: 2px;
}

.Tekst{
    font-size: 70%;
}

.Logo{
    font-size: 120%;
}

.Footer li{
    margin: 0 0 0 0;
  
}

.Footer a{
    color: #9c9a9a;
}

.Footer li:nth-child(1),
.Footer li:nth-child(2),
.Footer li:nth-child(3),
.Footer li:nth-child(4){
    border-right: solid 1.5px #9c9a9a;
    text-align: center;
}

.Kvovt {
    text-align: center;
    color: var(--third-color);
    font-size: 16px;
}

/*********************************************************************************************************************************/

/*Tablica*/
@media (min-width: 43.75em){ 
    body{
        width: 75vw;
    }
    .Container{
        font-size: 140%;
    }
}

/*Manjši ekran in dalje*/
@media (min-width: 58em){ 

    body{
        width: 70vw;
    }

    blockquote {
        margin-bottom: 20px;
        padding-bottom: 0px;
        border-bottom: none;
    }


    .Container{
        font-size: 120%;
        display: grid;
        grid-gap: 3px;  
        grid-template-columns: repeat(8, 1fr); 
        grid-template-rows: 60px 340px 50px 410px;
        grid-template-areas: 
        ". h h h h h h ." 
        "q q q q q n n ." 
        ". r r r r r r ."
        "p p p p p p p p";
    }

    a:hover{
        color: var(--second-color);
        text-decoration: none;
    }

    .Header{
        grid-area: h;
        border-bottom: none;
        margin-top: 0;

    }

    .Quote{
        grid-area: q;
        margin: auto;
        border-bottom: none;
    }

    .Rnd-Q {
        grid-area: r;
        padding-bottom: 40px;
        font-size: 24px;
        border-bottom: 1px solid var(--third-color)
    }


    .Navigation {
        grid-area: n;
        margin: auto;
        display: table;
        text-align: center;
        margin: auto;
        font-size: 120%;
    }
    
    .Navigation ul{
        columns: 1;
    }  

    .Navigation li:nth-child(2){
        border-right: none;
    }

        .Navigation li a { /*Zato smo tudi dali li znotraj a, da v izi centriramo. :)*/
            vertical-align: middle;
            height: 100%;
            color: white;
            transition: all .2s ease-in-out;
        }

            .Navigation li a:hover {
                color: var(--second-color);
                transform: scale(1.1);
            }

    .Photo {
        grid-area: p;
        margin: auto;
        border-bottom: none;
    }

        .Photo img {
            object-fit: cover;
            width: 90%;
            border-radius: 30px;
            margin-top: 0;
            margin-bottom: 0;
            -moz-box-shadow: 0 0 2px rgb(182, 177, 177, 0.7);
            -webkit-box-shadow: 0 0 2px rgb(182, 177, 177, 0.7);
            box-shadow: 0 0 30px rgb(182, 177, 177, 0.7);
        }

    .Footer {
        background: red;
        grid-area: f;
    }

    .Kvovt {
        font-size: 18px;
    }


@keyframes shake {
    0% {
        transform: translate(0.5px, 0.5px) rotate(0deg);
    }

    10% {
        transform: translate(-0.5px, -1px) rotate(-1deg);
    }

    20% {
        transform: translate(-1.5px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(1.5px, 1px) rotate(0deg);
    }

    40% {
        transform: translate(0.5px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-0.5px, 1px) rotate(-1deg);
    }

    60% {
        transform: translate(-1.5px, 0.5px) rotate(0deg);
    }

    70% {
        transform: translate(1.5px, 0.5px) rotate(-1deg);
    }

    80% {
        transform: translate(-0.5px, -0.5px) rotate(1deg);
    }

    90% {
        transform: translate(0.5px, 1px) rotate(0deg);
    }

    100% {
        transform: translate(0.5px, -1px) rotate(-1deg);
    }
}

