*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
}

body{
    background-color: black;
    color: white;
    height: auto;
    width: 95vw;
    margin: auto;
}

/*********************************************************************************************************************************/

a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/*********************************************************************************************************************************/

.Container{
    margin: 20px auto;
    width: 100%;
    text-align: center;
    justify-content: center;
    font-size: 100%;
    --margin: 20px;
}


/*********************************************************************************************************************************/

.Header{
    margin: var(--margin) 0;
    padding-bottom: 20px;
    border-bottom: #9c9a9a 0.5px solid;
}

.Header h1{
    font-weight: lighter;
}

.Header h1 span{
    color:red;
    font-weight: bolder;
}

/*********************************************************************************************************************************/

.Quote{
    margin-bottom: var(--margin);
    padding-bottom: 20px;
    border-bottom: #9c9a9a 0.5px solid;
}

.Quote .Besedilo{
    margin-bottom: var(--margin);
    font-size: 100%;
}

.Quote .Avtor{
    font-size: 90%;
    color: red;
}

.Quote .Sim{
    color:#9c9a9a;
}

.Quote .Pesem{
    font-size: 80%;
}

/*********************************************************************************************************************************/

.Navigation{
    width:70%;
    margin: 0 auto;
}

.Navigation ul{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    column-gap: 2px;
}

.Navigation li:nth-child(2){
    border-right: solid 1.5px #9c9a9a;
    text-align: center;
}


/*********************************************************************************************************************************/

.Photo{
    padding-bottom: -10px;
    border-bottom: #9c9a9a 0.5px solid;
}

img{
    width: 100%;
    margin: var(--margin) 0;
    border-radius: 10px;

    -moz-box-shadow: 0 0 2px rgb(182, 177, 177, 0.7);
    -webkit-box-shadow: 0 0 2px rgb(182, 177, 177, 0.7);
    box-shadow: 0 0 15px rgb(182, 177, 177, 0.7);
}

/*********************************************************************************************************************************/

.Footer{
    width: 70%;
    margin: 0 auto;
    padding-top: 20px;
}

.Footer ul{
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    column-gap: 2px;
}

.Tekst{
    font-size: 70%;
}

.Logo{
    font-size: 120%;
}

.Footer li{
    margin: 0 0 0 0;
  
}

.Footer a{
    color: #9c9a9a;
}

.Footer li:nth-child(1),
.Footer li:nth-child(2),
.Footer li:nth-child(3),
.Footer li:nth-child(4){
    border-right: solid 1.5px #9c9a9a;
    text-align: center;
}

/*********************************************************************************************************************************/

/*Tablica*/
@media (min-width: 43.75em){ 
    body{
        width: 75vw;
    }
    .Container{
        font-size: 140%;
    }
}

/*Manjši ekran in dalje*/
@media (min-width: 58em){ 

    body{
        width: 70vw;
    }

    .Container{
        font-size: 120%;
        display: grid;
        grid-gap: 3px;  
        grid-template-columns: repeat(8, 1fr); 
        grid-template-rows: 60px 350px 380px 80px;
        grid-template-areas: 
        ". h h h h h h ." 
        "q q q q q n n ." 
        "p p p p p p p p" 
        ". f f f f f f .";
    }

    a:hover{
        color: red;
        text-decoration: none;
    }

    .Header{
        grid-area: h;
        border-bottom: none;
        margin-top: 0;

    }

    .Quote{
        grid-area: q;
        margin: auto;
        border-bottom: none;
    }

    .Quote .Avtor{
        font-size: 120%;
    }

    .Quote .Sim{
        font-size: 120%;
    }

    .Quote .Pesem{
        font-size: 105%;
    }
    
    .Navigation{
        grid-area: n;
        margin: auto;
    
        display: table;
        text-align: center;
        margin: auto;
        font-size: 120%;
    }
    
    .Navigation ul{
        columns: 1;
    }  

    .Navigation li:nth-child(2){
        border-right: none;
    }
    
    .Navigation li a{ /*Zato smo tudi dali li znotraj a, da v izi centriramo. :)*/
        vertical-align: middle;
        height: 100%;
        color: white;
    }
    
    .Navigation li a:hover{
        color: red;
    }

    .Photo{
        grid-area: p;
        margin: auto;
        border-bottom: none;
    }

    .Photo img{
        object-fit: cover;
        width: 90%;
        border-radius: 30px;
        margin-top: 0;
        margin-bottom: 0;

        -moz-box-shadow: 0 0 2px rgb(182, 177, 177, 0.7);
        -webkit-box-shadow: 0 0 2px rgb(182, 177, 177, 0.7);
        box-shadow: 0 0 30px rgb(182, 177, 177, 0.7);
    }

    .Footer{
        grid-area: f;
        
    }
}